* {
	font-family: Product Sans;
	font-size: 14px;
    color: @theme_fg_color;
}

button, image, label {
    background: none;
    border-style: none;
    box-shadow: none;
}

button {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: shade(alpha(@theme_selected_fg_color, 0.2), 0.8);
    box-shadow: 0 0 6 5 shade(alpha(@theme_selected_fg_color, 0.2), 1.6);
}

button:focus {
    background-color: @theme_selected_bg_color;
    box-shadow: 0 0 6 5 shade(alpha(@theme_selected_fg_color, 0.2), 1.6);
}

#searchbox {
    border: 5px;
    background-color: @theme_unfocused_bg_color;
    border-radius: 5px;
    padding: 10px;
    border-color: @theme_selected_bg_color;
    margin-top: 50px;
    margin-bottom: 10px
}

#separator {
    background-color: @unfocused_borders;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 15px
}
