/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    50% {
        color: @warning_color;
    }

    to {
        color: @error_color;
    }
}

@keyframes blink-critical {
    50% {
      color: @warning_color;
    }

    to {
        color: @error_color;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "FontAwesome 5 Free Solid", "Noto Sans", Roboto, sans-serif;
}

/* The whole bar */
window#waybar {
    background: shade(alpha(@theme_base_color, 0.7), 0.0);
    border-bottom: 1px solid @unfocused_borders;
    color: @insensitive_fg_color;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 6px;
    padding-right: 6px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#custom-close {
    color: @theme_unfocused_text_color;
    font-size: 20px;
}

#custom-power {
    color: @theme_unfocused_text_color;
    font-size: 20px;
}

#custom-menu {
    color: @theme_unfocused_text_color;
    font-size: 20px;
}

#custom-sep {
    font-size: 20px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    color: @theme_unfocused_text_color;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    /* No styles */
}

#network {
    /* No styles */
}

#network.disconnected {
    color: @error_color;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    /*color: #55b5db;*/
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: @error_color;
}

#tray {
    font-family: "Noto Sans", Roboto, sans-serif;
}

#window {
    font-weight: bold;
    font-family: "Noto Sans";
    font-size: 12px;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @theme_unfocused_text_color;
    font-size: 20px;
}

#workspaces button.focused {
    border-color: @theme_selected_bg_color;
    color: @theme_selected_bg_color;
    background-color: transparent;
}

#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
}

