#entry {
	border-radius: 5px;
	padding: 10px;
	margin: 0px 5px 5px 5px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
	background-color: @theme_selected_bg_color;
}
 
#text:selected {
	color: theme_selected_bg_color;
}
 
#window {
	/*background-color: shade(alpha(@theme_base_color, 0.9), 1.6);*/
	background-color: transparent;
	border-radius: 15px;
	font-family: Product Sans;
	animation: fadeIn;
	animation-duration: 1.0s;
}

#input {
	background-color: shade(alpha(@theme_base_color, 1.0), 1.5);
	border: 2px solid @theme_selected_bg_color;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}

#inner-box {
	background-color: transparent;
	color: @theme_fg_color;
	padding: 5px;
}

#outer-box {
	background-color: shade(alpha(@theme_base_color, 0.9), 0.7);
	box-shadow: 0 0 6 3 shade(alpha(@theme_base_color, 0.8), 2.0);
	/*border: 1px solid @theme_selected_bg_color;*/
	border-radius: 10px;
	margin: 15px;
}

#scroll {
	margin-top: 5px;
	margin-bottom: 5px;
}

#text {
	background-color: transparent;
	color: @theme_fg_color;
	font-size: 16px;
} 

#img {
	background-color: transparent;
	padding: 5px;
}
